<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ProtoType.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>77488CAD1C630B1D0069FCDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77488CC61C630B1D0069FCDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77488CD11C630B1D0069FCDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
